<div class="banner-speed">
		<!-- navigation -->
		
		
		<!-- //navigation -->
</div>

<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			
			
			<li class="breadcrumb-item active" aria-current="page">SPEED</li>
		</ol>
	</nav>
<!--end of breadcrumb -->
<br>
<div class="container">
    <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
				<span class="font-weight-bold">SPEED</span>

	</h3>
	<div class="row cource-list-agile cource-list-agile-2">
					
					<div class="col-lg-12 agile-course-main text-center">
						<div class="w3ls-cource-first">
							
							<div class="px-md-5 px-4  pb-md-5 pb-4">
								<br>
								<h3 class="text-dark">What is SPEED?</h3>
								<p class="mt-3 mb-4 pl-lg-4 text-justify text-dark">This programme is designed exclusively for improving and strengthening one’s Soft skills, Interpersonal skills, Communication skills and approach towards Problem solving, rational decision making, critical thinking and judgement required in today’s corporate world. Most of the Professional and Post-graduate courses entrance exams test students on Verbal, Reasoning and Writing skills. Since the most common medium of communication in today’s business world is mostly English, it is indispensable that one has a strong foundation in this. SPEED modules were thus created to enable students to strengthen their Communication and Writing skills which form an integral part of placement process of Core, BPO, and IT Companies. Our training modules involve dynamic classroom sessions where active participation stands as the order of the day. The more a student gets involved in interaction and exchange of ideas, the more he or she learns.</p>
								
							</div>
						</div>
					</div>

	</div>
	
	<div class="row cource-list-agile cource-list-agile-2">
					
					<div class="col-lg-12 agile-course-main text-center">
						<div class="w3ls-cource-first">
							
							<div class="px-md-5 px-4  pb-md-5 pb-4">
								<br>
								<h3 class="text-dark">Why SPEED?</h3>
								<p class="mt-3 mb-4 pl-lg-4 text-justify text-dark">The development of an individual starts from understanding the base and touching on the roots. If the basics are poor, then it likely that the individual will succumb only to ephemeral development and not perpetual development. So, we, at Career Mantra, focus on identifying and understanding the strengths of an individual's personality and mould those traits to make the individuals a better version of themselves. This enhancement of strengths certainly helps to eradicate the weaknesses and fears an individual has developed over time. In a short span of time that we spend with the student, we cannot develop or create what may not exist. Hence we focus our efforts on boosting the skills that we believe is the best in the individual. Thus, we name it as “SPEED”.</p>
								
							</div>
						</div>
					</div>

	</div>
				
</div>	